html, body {
  background-color: #1a1a1d;
}
.card {
  border: none;
}

h1 {
  color: white;
}

.card-img {
  position: relative;
}

.card-body {
  position: absolute;
  bottom: 0;
  color: white;
  left: 0;
  width: 100%;
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%,  rgba(0,0,0,0) 100%);
  transition: all 10s ease;
}

#text {
  text-decoration: none;
  display: none;
  color:white;
}

#text:hover {
  font-weight: bold;
}

.card-img:hover {
  .card-body {
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%,  rgba(0,0,0,0) 100%);
  }
  #text {
    display: block;
  }
}


#sticky-footer {
  flex-shrink: none;
}

.top-padding {
  padding-top: 2rem;
}

.top-margin {
  margin-top: 2rem;
}

.bottom-margin {
  margin-bottom: 2rem;
}

.left-padding {
  padding-left: 15px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}